.item{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.item__container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__text{
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    font-size: 34px;
    color: lightgray;
    align-items: center;
    flex: 1;
}

.item__textDesc{
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    word-break: keep-all;
    margin-top: -16%;
    text-justify: center;
    padding: 20%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    line-height: 3;
}

.item__lowerThird{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    color: white;
}

.item__buttons{
    display: flex;
}

.item__expand{
    color: white;
    width: 100%;
    margin-top: 1%;
    justify-content: center;
    padding-left: 30%;
}